* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'alphanum20';
  src:url('/assets/fonts/alphanum20/alphanum20.eot?-a6m7hz');
  src:url('/assets/fonts/alphanum20/alphanum20.eot?#iefix-a6m7hz') format('embedded-opentype'),
      url('/assets/fonts/alphanum20/alphanum20.woff?-a6m7hz') format('woff'),
      url('/assets/fonts/alphanum20/alphanum20.ttf?-a6m7hz') format('truetype'),
      url('/assets/fonts/alphanum20/alphanum20.svg?-a6m7hz#alphanum20') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-weight: 1000;
  background-color: black;
  overflow: hidden;
  color: #aaa;
  font-size: 16px;
  font-family: 'alphanum20';
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .8);
}
